<h1><%= @user.name %>がお気に入りした投稿一覧</h1>

<table>
<tr>
  <th>画像</th>
  <th>記事</th>
  <th>投稿者</th>
</tr>
  <% @user.favorite_blogs.each do |blog| %>
    <tr>
      <td><%= image_tag(blog.image.url) %></td>
      <td><%= blog.content %></td>
      <td><%= blog.user.name %></td>
    </tr>
  <% end %>
</table>

<div class= "margin">
  <a href="/" class="btn btn-default btn-sm" role="button">トップページへ</a>
</div>