<h1><%= @user.name %>のページ</h1>
<% if @user.image.url.present? %>
    <p><%= image_tag @user.image.url %></p>
<% end %>
<p>メールアドレス: <%= @user.email %></p>

  <a href="/favorite" class="btn btn-default btn-sm" role="button">お気に入りした投稿一覧へ</a>

<div class= "margin">
  <a href="/" class="btn btn-default btn-sm" role="button">トップページへ</a>
</div>